/public/
/demo-layout/
/qfield_hugo_v2/
/qfield_hugo_v2/*
!.gitignore
.venv/
__pycache__/
*.pyc
.lighthouseci/
.idea/
.vscode/
*.log
*.tmp
*.bak
qfield_hugo_v2/
qfield_hugo_v2/*
reports/
.mypy_cache/
.pytest_cache/
.coverage
node_modules/
dist/
build/