<!-- WebSite Schema.org Type -->
<!-- https://schema.org/WebSite -->
<!-- Output all taxonomies as schema.org keywords -->

<!-- Revision based on Google guide https://developers.google.com/search/docs/appearance/site-names#how-to-add-structured-data -->

{{ with .Site.Params.webSite }}
{{- $data := dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "name" (site.Title | default "Website")
  "url" site.BaseURL
  "description" (site.Params.description | default "")
  "inLanguage" (site.Language.LanguageCode | default site.Language.Lang)
-}}

{{- with .image -}}
  {{- $path := . -}}
  {{- $staticPath := printf "static/%s" $path -}}
  {{- if os.FileExists $staticPath -}}
    {{- $data = merge $data (dict "image" ($path | absURL)) -}}
  {{- end -}}
{{- end -}}

<script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>
{{ end }}
